# build directories
build/

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp

.venv
build_*/*
test_*/*
**/__pycache__
**/.cache

snap_rates/plots/*