# build directories
build/
bin/

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp

# environment files
.direnv

**/__pycache__/
*.pyc

*.out

turb_test/**/*.png 
turb_test/**/*.mp4
turb_test/**/*.gif 

src/chemistry/test_outputs/
src/chemistry/kida.*/
src/chemistry/custom/

# uv files
uv.lock