# build directories
build*/

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp
Lorene

**__pycache__/

*test*/**/*.png
*test*/**/*.out

turb_drive*/bin
turb_drive*/rst
turb_drive*/pvtk
turb_drive*/prtcl_thermo_history
turb_drive*/*.out
turb_drive*/**/*.png
turb_drive*/*.hst


.entropy